.vagrant
*.swp
**/media/*
!media/default
*/CACHE/*
build/*
*.pyc
*.pyo
*.so
*~
*.db
*.jpg.*
*.tmproj
*.sqlite
*.sqlite3
.sass-cache
dump.rdb
api.md
nginx/ssl
db/backup/auth.py
db/backup/auth
**/todo.txt
**/tags
.vscode
.idea
.*DS_Store
node_modules/
# nginx/ssl/*
.env